---
import FormattedDate from "../../components/FormattedDate.astro";
import Tags from "../../components/Tags.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<RootLayout title="Posts">
  <h1>Posts</h1>

  <div class="posts">
    {
      posts.map((post) => (
        <div class="post flex flex-col gap-1">
          <a href={`/article/${post.id}`} class="heading">
            <h2>
              <span>{post.data.title}</span>
            </h2>
            <span class="date">
              <FormattedDate date={post.data.date} />
            </span>
          </a>
          <Tags tags={post.data.tags} />
          <p>{post.data.description}</p>
        </div>
      ))
    }
  </div>
</RootLayout>
