---
import { getCollection, type CollectionEntry } from "astro:content";
import PostListByYear from "../../../components/post/PostListByYear.astro";
import RootLayout from "../../../layouts/RootLayout.astro";
import type { Page } from "astro";
import { assertLocale, type Locale } from "../../../i18n/config";
import { postsForLocale, sortPostsNewestFirst } from "../../../i18n/content";
import { t } from "../../../i18n/messages";
import { localizedAlternates } from "../../../i18n/seo";

type BlogEntry = CollectionEntry<"blog">;

const { page, locale }: { page: Page<BlogEntry>; locale: Locale } = Astro.props;
const m = t(locale);

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const posts = await getCollection("blog");
  return ["zh", "en"].flatMap((locale) =>
    paginate(sortPostsNewestFirst(postsForLocale(posts, assertLocale(locale))), {
      pageSize: 100,
      params: { locale },
      props: { locale },
    }),
  );
}

export const prerender = true;
---

<RootLayout title={m.pages.postsTitle} description={m.pages.postsDescription} locale={locale} alternates={localizedAlternates("/article")} switchPath="/article">
  <h1>{m.pages.postsTitle}</h1>
  <PostListByYear posts={page.data} />
</RootLayout>
