---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
import { Icon } from "astro-icon/components";
import { t } from "../i18n/messages";
import { LOCALE_NAMES, otherLocale, withLocale, type Locale } from "../i18n/config";

interface Props {
  locale: Locale;
  switchPath?: string;
}

const { locale, switchPath = "/" } = Astro.props;
const m = t(locale);
const nextLocale = otherLocale(locale);
---

<header class="header mb-12">
  <nav>
    <h2 class="logo @lg:block @3xs:hidden">
      <a href={withLocale(locale, "/")} class="hover:text-[var(--color-default-hover)]"
        >{SITE_TITLE}</a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink href={withLocale(locale, "/")}>{m.nav.home}</HeaderLink>
      <HeaderLink href={withLocale(locale, "/article")}>{m.nav.posts}</HeaderLink>
      <HeaderLink href={withLocale(locale, "/archive")}>{m.nav.archive}</HeaderLink>
      <HeaderLink href={withLocale(locale, "/tag")}>{m.nav.tags}</HeaderLink>
      <HeaderLink href={withLocale(locale, "/about")}>{m.nav.about}</HeaderLink>
    </div>
    <div class="social-links">
      <HeaderLink href={withLocale(nextLocale, switchPath)} title={m.article.switchLanguage}>
        {LOCALE_NAMES[nextLocale]}
      </HeaderLink>
      <ThemeSwitch />
      <a
        href="https://github.com/dyzdyz010"
        target="_blank"
        title="GitHub"
        class="@3xs:hidden @lg:block"
        aria-label="GitHub"
      >
        <Icon name="mdi:github" aria-label="GitHub" class="w-6 h-6" />
      </a>
      <a
        href="https://twitter.com/dyzdyz010"
        target="_blank"
        title="Twitter"
        class="@3xs:hidden @lg:block"
        aria-label="Twitter"
      >
        <Icon name="mdi:twitter" aria-label="Twitter" class="w-6 h-6" />
      </a>
    </div>
  </nav>
</header>
