---
import type { CollectionEntry } from "astro:content";
import "../styles/global.css";
import "../styles/article.css";
import "../styles/code.css";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import RootLayout from "./RootLayout.astro";
import Tags from "../components/Tags.astro";

interface IdExt {
  id: string;
}

type Props = CollectionEntry<"blog">["data"] & (IdExt | { id: false });

const { id, title, description, date, updatedDate, tags, author, ...rest } =
  Astro.props;
---

<RootLayout>
  <article>
    <div class="prose">
      <section class="title" aria-label="Title">
        <div class="annotation">
          <div class="date">
            <FormattedDate date={date} />
            {
              updatedDate && (
                <>
                  <span class="last-updated-on">
                    , Last updated on{" "}
                    <FormattedDate date={updatedDate || date} />
                  </span>
                </>
              )
            }
          </div>
        </div>
        <h1>{title}</h1>
        <hr />
      </section>
      <slot />
      <Tags tags={tags} class="mt-10" />
    </div>
  </article>
</RootLayout>

<!-- <html lang="en" class="dark">
  <head>
    <BaseHead title={title || ""} description={description || ""} />
  </head>

  <body>
    <Header articleId={id || undefined} />
    <main>
      <article>
        <div class="prose">
          <section class="title" aria-label="Title">
            <div class="annotation">
              <div class="date">
                <FormattedDate date={date} />
                {
                  updatedDate && (
                    <>
                      <span class="last-updated-on">
                        , Last updated on{" "}
                        <FormattedDate date={updatedDate || date} />
                      </span>
                    </>
                  )
                }
              </div>
            </div>
            <h1>{title}</h1>
            <hr />
          </section>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html> -->
